/**
  ------- CartModal styles ------- 
*/

.cartModal {
  position: absolute;
  top: 0;
  right: 0;
  width: 420px;
  height: 100vh;
  padding: 0 11px;
  background: var(--clr-neutral-50);
  box-shadow: 0 0 15px rgba(0 0 0 / .1);
  transition: .4s right ease;
}

.closeCartModal {
  position: absolute;
  top: 15px;
  left: -45px;
  font-size: 2rem;
  color: #fff;
  opacity: .75;
  transition: .1s opacity ease-in;
}

.closeCartModal:hover {
  opacity: 1;
}

.title {
  font-size: 1.75rem;
  font-weight: 400;
  color: var(--clr-neutral-800);
}

.grid {
  height: inherit;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

.modalFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .75rem 0;
}

.btn {
  padding: 0;
  color: var(--clr-primary-400);
}

.scroll {
  padding-top: .5rem;
  padding-right: .5rem;
  overflow: scroll;
}

.scroll::-webkit-scrollbar {
  width: 4px;
  padding: 0 .5px;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: var(--clr-neutral-300);
  border-radius: 20px;
}

.scroll::-webkit-scrollbar-corner {
  visibility: hidden;
}

.swiper {
  width: 100%;
}

.swiperSlide {
  width: max-content;
}

.addToOrderItem {
  padding: .675rem;
  padding-right: 1.25rem;
  background: #fff;
  border-radius: 8px;
  display: flex;
  gap: 1.25rem;
}

.orderOfferItemTitle {
  transition: .2s color ease;
  cursor: pointer;
}

.orderOfferItemTitle:hover {
  color: var(--clr-secondary-400);
}

.image {
  position: relative;
  height: 100%;
  width: auto;
  aspect-ratio: 1 / 1;
  border-radius: 6px;
  overflow: hidden;
}

/**
  ------- EmptyCart styles ------- 
*/

.emptyCart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.emptyCartImg {
  margin-bottom: 2rem;
}

.emptyCartTitle {
  font-family: system-ui, 'Segoe UI', sans-serif;
  font-size: 1.75rem;
  font-weight: 600;
}

.emptyCartDesc {
  font-family: system-ui, 'Segoe UI', sans-serif;
  font-size: 1.125rem;
  margin-bottom: 2em;
}

/**
  ------- OrderSummary styles ------- 
*/

.orderSummary {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background: #fff;
  width: inherit;
  border-radius: 6px;
  padding: 11px;
  margin-top: auto;
  margin-bottom: .75rem;
  font-family: system-ui, 'Ubuntu', sans-serif;
}

.orderTitle {
  font-family: var(--ff-pf-square);
  font-size: var(--fsz-heading-3);
  font-weight: 500;
  margin-bottom: 0.275em;
}

.summaryTable {
  width: 100%;
}

.tableRow {
  font-weight: 400;
  color: var(--clr-neutral-700);
}

.tableRow td:last-child {
  margin-top: .5em;
  text-align: right;
}

.tableRow:last-child td {
  font-size: 1.25rem;
  font-weight: 500;
  color: #000;
  margin-top: .5em;
  padding-top: .75rem;
}

.checkoutBtn {
  width: 100%;
  margin-bottom: 11px;
}


/**
  ------- ItemList styles ------- 
*/


.itemsList {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-bottom: 2rem;
}

.itemsList::-webkit-scrollbar {
  width: 4px;
  padding: 0 .5px;
}

.itemsList::-webkit-scrollbar-thumb {
  background-color: var(--clr-neutral-300);
  border-radius: 20px;
}

.itemsList::-webkit-scrollbar-corner {
  visibility: hidden;
}

.cartItem {
  position: relative;
  display: grid;
  grid-template-columns: 85px 1fr;
  gap: 1rem;
  align-items: center;
  background: #fff;
  border-radius: 6px;
  padding: 0.5rem;
}

.itemInfo {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-gap: 0.25rem;
  gap: 0.25rem;
  font-weight: 500;
}

.itemName {
  font-weight: inherit;
  padding-right: 20px;
  height: 3rem;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
  display: -webkit-box;
  overflow: hidden;
}

.itemFlex {
  height: 32px;
  display: flex;
  align-items: stretch;
  grid-gap: 1rem;
  gap: 1rem;
}

.itemPrice {
  font-family: system-ui;
  font-size: 1.15rem;
  line-height: 1;
  margin: auto 0;
}

.deleteItemBtn {
  position: absolute;
  top: .5rem;
  right: .5rem;
  background: none;
  border: none;
  font-size: 1rem;
  color: var(--clr-neutral-700);
  cursor: pointer;
  transition: .2s color ease;
}

.deleteItemBtn:hover {
  color: #e21b2b;
}

@media (max-width: 470px) {
  .cartModal {
    width: 100vw;
  }

  .closeCartModal {
    top: 5px;
    left: 10px;
    color: #000;
  }

  .scroll {
    padding-top: 3rem;
  }

  .itemFlex {
    flex-direction: column;
  }

  
}

@media (max-width: 400px) {
  .itemFlex {
    height: unset;
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 0.75rem;
  }
}