.header {
  width: 100%;
  background: var(--clr-primary-400);
  color: #fff;
  padding: .5rem 0;
}

.headerResponsive {
  position: sticky;
  top: 0;
  box-shadow: 0 0 15px rgba(0 0 0 / .1);
  padding: .75rem 0;
  z-index: 9999;
}

.respHeaderWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.respHeaderTitle {
  font-size: 1.75rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.container {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  grid-template-areas:
    'title title logo delivery controls';
}

.title {
  display: flex;
  justify-content: center;
  grid-area: title;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-style: italic;
  color: var(--clr-secondary-400);
  transform: rotate(354deg);
}

.delivery {
  font-family: var(--ff-pf-square);
  font-size: .875rem;
  font-weight: 600;
  grid-area: delivery;
}

.delivery p {
  font-family: inherit;
  margin: 0;
}

.delivery span {
  display: inline-block;
  color: var(--clr-secondary-400);
  margin-bottom: .5em;
}

.delivery a {
  font-style: italic;
  color: var(--clr-secondary-400);
}

.phone {
  display: flex;
  gap: .5rem;
}

.iconWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  background: #fff;
  border-radius: 50%;
  font-size: .55rem;
  color: var(--clr-secondary-400);
}

.icon {
  color: var(--clr-primary-400);
}

.openNav {
  width: fit-content;
  color: #fff;
  margin-right: .75rem;
}

.openCart {
  padding: unset;
  margin-left: auto;
}

@media (max-width: 1130px) {
  .container {
    grid-template-areas:
      'open-nav delivery logo controls controls';
  }

  .title {
    display: none;
  }
}

@media (max-width: 950px) {
  .container {
    grid-template-areas:
      'open-nav logo logo logo controls';
  }

  .delivery {
    display: none;
  }
}

@media (max-width: 420px) {
  .respHeaderWrapper {
    justify-content: unset;
  }

  .openCart {
    display: none;
  }
}