.product {
  display: flex;
  flex-direction: column;
}

.link:hover .image {
  transform: translateY(-5px);
}

.link:hover .title {
  color: var(--clr-secondary-400);
}

.image {
  transition: .2s transform ease;
  border-radius: 8px;
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  gap: .5rem;
  margin-top: .5em;
  margin-bottom: .75em;
}

.title {
  font-size: 1.375rem;
  font-weight: 500;
  max-height: 3.2rem;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  transition: .2s color ease;
}

.title span {
  margin-right: .5em;
}

.title i {
  font-size: 1rem;
  margin-right: 0.5rem;
}

.description {
  max-height: 4.3rem;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  font-family: sustem-ui, 'Segoe UI', sans-serif;
  color: var(--clr-neutral-800);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 500;
  padding-top: 1.25rem;
  margin-top: auto;
}

@media screen and (max-width: 500px) {
  .description, .title {
    word-break: break-all;
  }

  .footer {
    flex-direction: column;
    align-items: flex-start;
    /* margin-top: unset; */
  }

  .price {
    margin-bottom: .5em;
  }
  
  .btn {
    width: 100%;
  }
}